/*importing fonts from google fonts 
font-family: 'Roboto', sans-serif;
font-family: 'Noto Serif', serif;
*/
@import url('https://fonts.googleapis.com/css?family=Noto+Serif|Roboto&display=swap'); 

body{
    font-family:'Roboto',sans-serif;
    color:#4E4E4E;
}

section{
    padding:120px 160px;
}

.common-heading{
    font-family:'Noto Serif',serif;
    color:#4AAB00;
    font-size:70px;
    margin:30px 0px;
}
p{
    line-height: 1.5;
    margin:10px 0;
}

.common-button{
    height:42px;
    font-size:18px;
    background-color:#4AAB00;/*primary green*/
    border:none;
    color:white;
    border-radius:3px;
    padding:10px 20px;
    cursor: pointer;
    margin:20px 0px;
}

/*****************************************************************************/
/*header container*/

.header-wrapper{
    position:fixed;
    top:0px;
    width:100%;
    background-color:black;
    height:90px;
    z-index:1;
    clear:both;
}
.logo-position{
    float:left;
    margin:25px 40px;
}
ul.navigtion{
    float:right;
    list-style-type:none;
    padding:20px 0px;
    margin-top: 0px;
}
.buy-now{
    background-color:#4AAB00;/*primary green*/
    border:none;
    padding:7px 20px;
    color:white;
    margin-right:40px;
    margin-bottom: 0px;
    cursor: pointer;
    font-family: 'Roboto',sans-serif;
}

.menu-image{
    width:auto;
    height:42;
}

.list-ankers{
    padding-top:19px;
}

.list-image{
    padding-top:16px;
}

.list-buynow{
    padding-top:3px;
}

li.nav-list{
display:block;
margin-left:5px;
margin-right:5px;
float:left;
}

li img{
    margin-left:20px;
    margin-right: 10px;
}
li button{
    margin-left:10px;
    height:42px;
    font-size:18px;
    background-color:#4AAB00;/*primary green*/
    border:none;
    color:white;
    border-radius:3px;
    padding:10px 15px;
}
li a{
    color:white;
    text-decoration: none;
    padding:10px 10px;
    font-family: 'Robot',sans-serif;
}

.nav-i-bar{
    color:white;
    float:left;
    padding-top:18px;
}
/*********************************************************************************************/

/*Section 1 Main*/
.section-one-wrapper{
    height:auto;
    background-image: url('../images/banner_image.png');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position:center;
    background-size:cover;
    margin-top:90px;
}
.section-one-content{
    height:auto;
    padding:50px 0px;
}
.section-one-heading{
    font-family:'Noto Serif',serif;
    color:#ECFFED;
    font-size:72px;
    
}
.section-one-para{
    color:#ECFFED;
    font-family:'Roboto',sans-serif;
    width:70%;
    height:auto; 
    font-size: 16px;
    padding:50px 0px;
}
/********************************************************************************************/
/*section 2 About Us*/

.section-about-us{
    position: static;
    height:auto;
    background-color:whitesmoke;
    margin:0px;
    overflow:auto;
}
/*
.span-bottom-border-about-us{
    border-bottom:;
}

.span-bottom-border-about-us::after{
    border-bottom:2px solid #4AAB00;
}
*/
.about-us-content{
    float: left;
    height: auto;
    width:37%;
}
.about-us-heading{
    margin-top:0px;
}

.about-us-para{
font-size:24px;
}

.about-us-image{
    height:auto;
    box-shadow:15px 15px 15px rgb(108, 112, 116);
    float:right;
    width:504px;
    height:520px;
}
.about-us-more-detail{
    margin-top:20px;
}
/*******************************************************************************************/
/*section Our Speciality*/

.our-speciality-wrapper{
    height:auto;
    position:static;
    background-image:url('../images/speciality_bg.png'); 
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center;
    background-size:cover;
    font-family:'Noto Serif',serif;
    font-size: 24px;
    padding:120px 95px;

}
.our-spec-heading{
    text-align: center;
    margin-top:0px;
}
.our-spec-para{
    text-align:center;
    height:auto;
    color:#ECFFED;
    font-family: 'Roboto',sans-serif;
}
.cards-and-content{
    height:auto;
}
.card-container{
    text-align:center;
    margin-top:100px;
}

.speciality-cards{
    width: 264px;
    height:300px;
    display:inline-block;
    margin:3px 3px;
    background-color: azure;
    text-align: center;
}
.left-card-image{
    width:254px;
    height:220px;
}
.spec-para{
    text-align:center;
    margin-top:20px;
}
.image-card{
    margin-top: 5px;
    
}
/***********************************************************************************/
/* Section 4 our menu*/

.our-menu-wrapper{
    height:auto;
    background-image:url('../images/menu_bg.png'); 
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center;
    background-size:cover;
}
.our-menu-heading{
    text-align:center;
    margin-top: 0px;
}
.hr-line{
    width:100px;height:3px;background-color:#4AAB00;border:none;text-align:center;
}

.pizza-container{
    float:left;
    width:46%;
    text-align:left;
}

.lemo-container{
    float:right;
    width:auto;
    text-align:left;
}

/*****common list-classes*****/
.our-menu-list{
    height:auto;
}
h2.heading{
    font-size:42px;
    width:fit-content;
}
.border-heading{
    border-bottom:2px solid #4AAB00;
}
.our-menu-list-item{
    display:block;
    height:auto;
    width:auto;
    margin-bottom:50px;
    overflow:auto;
}
.list-heading{
    color:#75C23A;
    font-size: 32px;
    font-family: 'Noto Serif',serif;
}
.our-menu-list-para{
    width:350px;
    font-size:24px;
    display:block;
    font-family: 'Noto Serif',serif;
    float:left;
}
.price{
    display:block;
    width:90px;
    height:72px;
    font-size:40px;
    color:#4AAB00;
    font-family: 'Noto Serif',serif;
    text-align:right;
    float:left;
}
/****/

.our-menu-more-details{
    text-align:center;
    clear:both;
}
/********************************************************************************************/
/*section5 Book a Table*/

.book-table-wrapper{
    height:auto;
    background-image:url('../images/footer_bg.png'); 
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center;
    background-size:cover;
    padding:120px 0px 0px 0px;
}
.book-table-heading{
    text-align:center;
    font-size: 65px
}
.book-table-para{
    color:#ECFFED;
    text-align:center;
    font-size: 24px;
}
.input-heading{
    color:#4AAB00;
    font-size: 22px;
    float:left;
    margin:10px 0px;
    font-family:'Noto Serif',serif;
}
.form-book-table{
    text-align: center;
    padding:0 160px;
    margin:50px 0px;
}
input{
    float:left;
    width:212px;
    height:40px;
    font-size: 23px;
}
p.input-left{
    margin-left:0px;
}
p.input-right{
    margin-right: 0px;
}
input[placeholder]{
font-size: 20px;
padding-left: 3px;
}
.input-list{
    display:inline-block;
    margin:0px 15px;
}
.button-book-now{
    text-align: center;
    margin-bottom:120px;
    height:auto;

}
/*******************************/
.footer-wrapper
{
    height:124px;
    background-color:rgba(0, 0, 0, 0.8);
}
.a{
    width:50%;
    margin:0px;
    float:left;
}
.footer-logo{
    margin-left:5%;
    margin-top:30px;
}
.foot-para{
    color:#ECFFED;
    font-size: 14px;
    margin:10px 0px 0px 5%;
    padding:0px;
}
.footer-social-media{
    float:right;
    margin-top:25px;
    margin-right:5%;
    height:auto;
}

.social-img{
    font-size: 0px;
    padding:8px;
}
/*
.fb-img{
    margin-left:3.5px;
    margin-right: 3.5px;
}
.tweet-img{
    margin-top:1px;
    margin-bottom: 1px;
}
.g-plus-img{
    margin:0.5px 0px;
}*/

.social-links{
    display:block;
    border:1px solid white;
    text-align:center;
    margin:0px 3px;
    padding:0px;
    height:27px;
    width:27px;
    font-size:0px;
    float:left;
}
.social-heading{
    text-align: center;
    margin-bottom:10px;
    font-size: 20px;
    color:#75C23A;
    font-family:'Noto Serif',serif;
}
/*******************************************************************************************
