
/*importing google font poppins 
use: font-family: 'Poppins', sans-serif;
*/
@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');



*{
    box-sizing: border-box;
}

body{
    font-family: 'Poppins',sans-serif;
    color:#7A839E;
}
p{
    line-height: 1.5;
    margin:10px 0px;

}
section{
    padding:120px 0px;
}



.common-container{
    width: 1280px;
    margin:0px auto;
    height:auto;
}
.com-heading{
    font-size: 42px;
    color:#181818;
    font-weight: bold;
}



/*********Header*******************/
header{
    width:100%;
    height:120px;
    position:fixed;
    background-color:white;
    padding:22px 50px;
    z-index: 1;
}

.list-button-container{
    float:right;
    padding:10px 0px;
}

.nav-anchor{
    color:#7A839E;
    text-decoration: none;
}
.nav-anchor:hover{
    border-bottom:2px solid #F92524;
}


nav{
    display: inline-block;
    font-size: 18px;
    margin:19px 0px;
}

li{
    display: inline-block;
    margin:0px 5px;
    padding-bottom:5px;
}
.button-contact-us{
    display:block;
    height:58px;
    font-size: 20px;
    background-color: #F92524;
    border:none;
    border-radius:5px;
    color:white;
    padding:10px 30px;
    float:right;
    margin-left:35px;
    cursor: pointer;
}


/***********Section-1 Banner************/

.section-banner{
    height:660px;
    width:100%;
    position: relative;
    top:120px;
    padding:0px;
    background-image:url('../images/banner_bg.png');
    background-position: bottom;
    background-attachment:scroll;
    background-repeat: no-repeat;
    background-size: cover;
}
.banner-container{
    height:660px;
    position: relative;
    overflow: hidden;
}

.div-left{
    height: 660px;
    display:block;
    width:50%;
    float:left;
    padding:165px 0px;
}

.banner-image-girl{
    position:absolute;
    top:40px;

}
.banner-image-boy{  
    position: absolute;
    top: 220px;
    left: 815px;
}

.heading-one{
    color:#7A839E;
    margin:20px 0px;
}
.heading-two{
    color:white;
    font-weight: bold;
}

.banner-para{
    margin:25px 0px;
}

.join-today-button{
    background-color: rgb(243, 43, 43);
    border:none;
    height:58px;
    font-size: 20px;
    color:white;
    border-radius: 5px;
    padding:10px 80px 10px 30px;
    margin-top:10px;
    cursor: pointer;
}

.join-today-button::after{
    content:url('../images/arrow_right.png');
    display:block;
    position: absolute;
    left:156px;
    bottom:181px;
    box-sizing: border-box;
    padding:18px 10px;
    width:50px;
    height:57px;
    background-color: rgb(255, 0, 0);
    border-bottom-right-radius:5px;
    border-top-right-radius:5px; 
}


/**************Section-2 Our Story********************/

.section-our-story{
    background-color:white;
    height:auto;
    position:relative;
    top:120px;
}
.wrapper-our-story{
    overflow:auto;

}


.image-container{
    width:424px;
    height:587px;
    padding:42px 40px;
    float:left;
    background-image: url('../images/advanced_bg.png');
    background-position: bottom;
    background-attachment:scroll;
    background-repeat: no-repeat;
}

.about-advance-heading{
    color:white;
    font-size: 25px;
}

.advanced-hr{
    color:white;
    width:80%;
}

.about-advance{
    padding:30px;
    background-color: rgba(202, 25, 25, 0.8);
    text-align: center;
    color:white;
    font-size: 20px;
    height:100%;
    position: relative;
}
.about-read-button{
    height:58px;
    border-radius: 5px;
    border:none;
    padding:0px 65px;
    cursor: pointer;
    position: absolute;
    bottom:30px;
    transform:translatex(-50%);
    background-color: whitesmoke;
    color:#F92524;
    font-size: 20px;

}
.about-us-heading{
    font-size: 42px;
    position: relative;
}

.about-us-heading::after{
    content:"\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0";
    height:52px;
    width:100px;
    border-bottom:5px solid red;
    position:absolute;
    left:0px;
}

.about-us-content{
    float:right;
    width:60%;
    font-size: 18px;
}

.about-para-one{
    margin:35px 0px;

}

.about-sub-heading{
    font-size:25px;
    
}
.about-sub-content{
    float:right;
    width:80%;
}

.sub-content{
    width: 100%;
    overflow:auto;
    margin:40px 0px;
}
.circle{
    width:106px;
    height:106px;
    border-radius: 50%;
    border:2px solid red;
    padding:25px;
    text-align: center;
    margin:0px;
    float:left;
}

/***********************Section-3 Our Classes*******************************/

.section-our-classes{
    background-color:#F1F1F1;
    height:auto;
    position:relative;
    top:120px;
}

.classes-heading{
    float:left;
    margin-bottom: 35px;
}

.filter
{
width:auto;
height:auto;
float:right;
}

.classes-list{
    display:inline-block;
}

.filter-anchor{
    text-decoration:none;
    padding:10px 20px;
    color:black;
    font-size: 20px;
    font-weight: bold;
}

.filter-anchor:hover{
    color:red;
    border-bottom:3px solid red;
}

.classes-para{
    display:block;
    clear:both;
}
.arrow-container{
    width:100%;
    clear:both;
    overflow:auto;
    border:1px solid red;
}


.card-nav-arrow{
    float:right;
}

.left-nav-arrow{
    transform:scalex(-1);
    margin-right:20px;
    opacity:0.4;
}

.card-container{
    width:124%;
    height:480px;
   margin-top:50px;
}
.coursel{
    overflow:hidden;
    width:1280px;
    height:540px;
    bottom:0px;
    padding-right:10%;  
}

.classes-card{
    width:305px;
    height:470px;
    display:block;
    float:left;
    border-top-left-radius:40px;
    border-bottom-right-radius: 40px;
    position: relative;
    margin:5px 2%;
}
.card-one{
    margin-left:0px;
}
.card-four{
    margin-right:0px;
}

.card-image{
    border-top-left-radius:40px;
    border-bottom-right-radius: 40px;
}

.classes-discription{
    width:305px;
    height:100px;
    position:absolute;
    bottom:0px;
    color:white;
    background-color: rgb(238, 30, 30);
    padding:20px;
    border-bottom-right-radius:40px;
    transition-property:bottom;
    transition-delay:0s;
    transition-duration:1s;
    transition-timing-function:ease;
}

.classes-card:hover .classes-discription{
    bottom:40px;
    border-bottom-right-radius:0px;
}

.classes-card:hover {
    box-shadow:0px 0px 8px red;
}

.card-heading{
    font-size: 25px;
}

.card-para{
    font-size: 18px;
}
.card-para::before{
content:url('../images/clock.png');
font-size: 18px;

}



/*******************Section-4 Our Pricing****************************/


.section-our-pricing{
    background-color:white;
    height:auto;
    position:relative;
    top:120px;
    clear:both;
}

.price-head-para{
    text-align: center;
}

.our-price-heading{
    margin-bottom:50px;
}
.price-card-container{
    width:100%;
    height:auto;
    margin-top: 80px;

}

.price-card{
    width:380px;
    height:732px;
    display: inline-block;
    text-align: center;
    margin:3px 2.5%;
    padding:100px 25px;
    border:3px solid grey;
    border-radius: 10px;
}

.price-card-left{
    margin-left:0px;
}
.price-card-right{
    margin-right: 0px;
}

.price-heading{
    font-size: 25px;
    color:black;
    font-weight: bold;
    margin:35px 0px;
}

.price-card-para{
    margin:20px 0px;
}
.get-started-button{
    height:58px;
    padding:0px 45px;
    border:1px solid grey;
    color:grey;
    font-size: 18px;
    background-color: white;
    border-radius: 5px;
    margin-top:73px;
}

.dumbell-normal{
    display:block;
    margin:0px auto;
}
.dumbell-red{
    display:none;
}

.price-card:hover .dumbell-normal{
    display:none;
}
.price-card:hover .dumbell-red{
    display: block;
    margin:0px auto;
}

.price-card:hover{
    border-color: #F92524;
}

.price-card:hover .get-started-button{
    color:white;
    background-color: #F92524;
    border:none;
}

/****************Section 5 Contact Us **************************/

.section-contact-us{
    background-color:white;
    height:auto;
    position:relative;
    top:120px;
}

.contact-us-heading{
    text-align: center;
}
form{
    margin:100px 0px;
}

.form-input{
    height:70px;
    font-size: 18px;
    border-radius: 5px;
    border:1px solid #151D41 ;
    padding-left:10px;
    width:45%;
    margin:20px 0px;
}

.input-name{
    float:left;
}
.input-email{
    float:right;
}
.input-phone{
    float:left;
}

.input-budget{
    float:right;
    background-color: white;
    color:#7A839E;
}

.input-message{
    width: 100%;
    height:180px;
    padding:15px;
}


.button-send-message{
    height:80px;
    font-size: 25px;
    border:none;
    background-color:#F92524;
    color:white;
    border-radius:8px;
    padding:0px 50px ;
    margin:0px auto;
}
.button-container{
    text-align: center;
}

/**********************section-6 Review**************************/
.section-review{
    background-color:white;
    height:auto;
    position:relative;
    top:120px;
}

.review-heading{
    margin-bottom: 50px;
}

.review-wrapper{
    overflow:auto;
}

.review-card-container{
    position: relative;   
}

.review-card{
    width: 560px;
    height:382px;
    margin:100px 10px 10px 10px;
    box-shadow: 0px 0px 8px grey;
    padding:100px 46px 46px 46px;
    border-radius:10px;

}
.review-man{
    float:left;
}
.review-women{
    float:right;
}

.user-image{
    position:absolute;
    border-radius: 50%;
    height:auto;
}

.user-man-image{
    top:46px;
    left:60px;

}

.user-women-image{
    top:46px;
    right:415px;
}
.review-para{
    font-size: 16px;
    line-height:1.9;
    margin-top:50px;
}
.user-bold{
    font-weight: bold;
    font-size: 20px;
    color:black;
    margin-top:5%;
    margin-bottom:10px;
}
.user-city{
    font-size: 20px;
}

/*********************footer*******************************/

.section-footer{
    height:80px;
    position:relative;
    top:90px;
    background-color: #F92524;
    padding:29px 50px;
}

.foot-para{
    font-size: 18px;
    margin:0px;
    width:50%;
    float:left;
    color:white;

}
.social-image-container{
    float:right;
    width:auto;
    font-size: 0px;
}

.social-image{
   padding:3px;

}

.social-links{
    height:32px;
    width:32px;
    background-color: aliceblue;
    border:0px;
    padding:5px;
    text-align: center;
    float:left;
    margin:0px 5px;
}